Language: Cpp
BasedOnStyle: Microsoft
UseTab: Always
TabWidth: '4'
BreakBeforeBraces: Allman
AccessModifierOffset: '-4'
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 140
PointerAlignment: Left
SortIncludes: false
IndentCaseLabels: true